---
name: test_raspbian

# only run this job when this job itself is modified
on:
  push:
    paths:
      - ".github/workflows/test_raspbian.yaml"
    branches:
      - master
  pull_request:
    paths:
      - ".github/workflows/test_raspbian.yaml"

jobs:
  test_raspbian:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [armv6l, armv7l, aarch64]
        include:
          - arch: armv6l
            cpu: arm1176
            base_image: raspios_lite:latest
            cpu_info: raspberrypi_zero_w
          - arch: armv7l
            cpu: cortex-a7
            base_image: raspios_lite:latest
            cpu_info: raspberrypi_3b
          - arch: aarch64
            cpu: cortex-a53
            base_image: raspios_lite_arm64:latest
            cpu_info: raspberrypi_zero2_w_arm64_w
    steps:
      - uses: actions/checkout@v6
      - uses: pguyot/arm-runner-action@v2
        with:
          base_image: ${{ matrix.base_image }}
          cpu: ${{ matrix.cpu }}
          # cpu_info: ${{ matrix.cpu_info }}
          copy_artifact_path: hello_output.txt
          copy_artifacts_on_fail: yes
          # export_github_env: yes
          commands: |
            echo "## Hello from Raspbian on ${{ matrix.arch }}" > hello_output.txt
            echo "CPU: ${{ matrix.cpu }}" >> hello_output.txt
            echo "Pi Min Type: ${{ matrix.cpu_info }}" >> hello_output.txt
            echo "Arch: ${{ matrix.arch }}" >> hello_output.txt
            echo "This is a test for the Raspbian runner." >> hello_output.txt
            echo "Running on $(uname -a)" >> hello_output.txt
            echo "Running on: \n$(cat /etc/os-release)" >> hello_output.txt
            # echo "Running on $(cat /proc/cpuinfo)" >> hello_output.txt
            echo "## Goodbye from Raspbian!" >> hello_output.txt
            cat hello_output.txt

            # the following should only work if export_github_env is set to yes:
            # fix error: /tmp/commands.sh: 9: cannot create /home/runner/work/_temp/_runner_file_commands/step_summary_??: Directory nonexistent
            # mkdir -p /home/runner/work/_temp/_runner_file_commands
            # cat hello_output.txt >> $GITHUB_STEP_SUMMARY

      - name: Set summary
        if: always()
        run: |
          cat hello_output.txt >> $GITHUB_STEP_SUMMARY
          cat hello_output.txt
