---
name: test_env_set

# only run this job when this job itself is modified
on:
  push:
    paths:
      - ".github/workflows/test_env_set.yaml"
    branches:
      - "**"
  pull_request:
    paths:
      - ".github/workflows/test_env_set.yaml"

env:
  # intentionally blank:
  EXAMPLESUFFIX:

jobs:
  test_env_set:
    runs-on: [ubuntu-latest]
    steps:
      - name: get env var
        run: echo "$EXAMPLESUFFIX"
      - name: set env var
        if: github.event_name != 'pull_request'
        run: echo "EXAMPLESUFFIX=_testvalue" >> "$GITHUB_ENV"
      - name: set env var
        if: github.event_name == 'pull_request'
        run: echo "EXAMPLESUFFIX=_pullrequestvalue" >> "$GITHUB_ENV"
      - name: get env var
        run: echo "$EXAMPLESUFFIX"
      - name: get env var
        run: echo "${{ env.EXAMPLESUFFIX }}"
